<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js"></script>
  </head>

  <body>
      <div class="topnav">
    <a href="/">index</a>
    <a href="/about">about</a>
    <a href="/weather?address=Izmir">weather</a>
  </div>
    <div class="content">